.section-wrapper {
    margin-bottom: 50px !important;
}
.section-wrapper h2 {
    margin: 70px 0 50px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-weight: normal;
}
.view-challenge {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.view-challenge img {
    max-width: 550px;
    height: auto;
    max-height: 400px;
    margin-right: 50px;
}
.challenge-info ol li {
    margin-bottom: 10px;
}
#status {
    width: 30%;
}

label[for=publishCheck] {
    padding-left: 10px;
}

textarea#comment {
    resize: none;
}

.challenge-buttons {
    display: flex;
}

.challenge-buttons {
    display: flex;
    justify-content: space-between;
}

.challenge-buttons a, .challenge-buttons button {
    padding: 10px;
    width: 30%;
    text-align: center;
    font-weight: bold;
    background: var(--purple);
    color: #fff;
    transition: all .2s;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1rem;
}

.challenge-buttons a:hover, .challenge-buttons button:hover {
    color: var(--red-touch);
}

.noAuthor {
    margin-bottom: 125px !important;
}

.challenge-comment {
    white-space: pre-wrap;
}
