section {
    margin-top: 15px !important;
    columns: 3;
}

section article {
    position: relative;
    margin-bottom: 15px;
    border-radius: 5px;
}

section article img{
    margin-bottom: -5px;
    max-width: 100%;
}

section article .info-wrap {
    box-sizing: border-box;
    border-right: 2px solid var(--dark-purple);
    border-bottom: 2px solid var(--dark-purple);
    border-left: 2px solid var(--dark-purple);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

section article .info-wrap h2 {
    margin-top: 0;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-weight: normal;
    color: var(--dark-purple);
}

section article .info-wrap ol {
    padding: 0;
    text-align: center;
}

section article .info-wrap .view-challenge-btn {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    margin-bottom: 5px;
    background-color: #fff;
    border: 2px solid var(--dark-purple);
    border-radius: 10px;
    transition: all .2s;
    color: var(--dark-purple);
    font-weight: bold;
    text-transform: uppercase;
}

section article .info-wrap .view-challenge-btn:hover {
    background-color: var(--red-pastel);
    color: #fff;
    border-color: transparent;
}

section article .status-icon {
    position: absolute;
    top: 5px;
    left: 5px;
}

section article .status-icon i {
    font-size: 2rem;
}

.icon-complete {
    color: #44bd32;
}

.icon-decline {
    color: #e84118;
}

.icon-delay {
    color: #fbc531;
}

.icon-progress {
    color: var(--red-touch);
}

@media all and (max-width: 768px) {
    section {
        columns: 2;
    }
}

@media all and (max-width: 425px) {
    section {
        columns: 1;
    }
}
