<section class="container">
    <h2>Pick a new challenge!</h2>
    <div class="new-challenge">
        <div *ngIf="loader">Loader....</div>
        <img *ngIf="!loader" [src]="challenge.img" alt="busywork">
        <div class="challenge-info">
            <h3>{{challenge.activity}}</h3>
            <ol>
                <li>Type: {{challenge.type}}</li>
                <li>Participants: {{challenge.participants}}</li>
                <li>Price rating: {{challenge.price}}</li>
                <li>Accessibility: {{challenge.accessibility}}</li>
                <li>Link: {{challenge.link? challenge.link: 'There is no link for this challenge!'}}</li>
            </ol>
            <div class="challenge-buttons">
                <a (click)="renderChallenge()">
                    <i class="fas fa-angle-double-right"></i>
                    <span>Next Challenge</span>
                </a>
                <a>
                    <i class="fas fa-plus"></i>
                    <span>Take the Challenge</span>
                </a>
            </div>
        </div>
    </div>
</section>