<section class="container" [class.emptySection]="loader">
    <mat-progress-spinner *ngIf="loader" class="loader" mode="indeterminate" color="accent"></mat-progress-spinner>
    <div class="section-wrapper" *ngIf="!loader">
        <h2>Pick a new challenge!</h2>
        <div class="new-challenge">
            <div class="err-msg" *ngIf="errorMessage.error">{{ errorMessage.msg }}</div>
            <img *ngIf="!loader && !errorMessage.error" [src]="challenge.img" alt="busywork">
            <div class="challenge-info">
                <h3>{{challenge.activity}}</h3>
                <ol>
                    <li>Type: {{challenge.type}}</li>
                    <li>Participants: {{challenge.participants}}</li>
                    <li>Price rating: {{challenge.price}}</li>
                    <li>Accessibility: {{challenge.accessibility}}</li>
                    <li *ngIf="!challenge.link">
                        Link: There is no link for this challenge!
                    </li>
                    <li *ngIf="challenge.link">Link: 
                        <a [href]="challenge.link">Additional information</a>
                    </li>
                </ol>
                <div class="challenge-buttons">
                    <a (click)="renderChallenge()">
                        <i class="fas fa-angle-double-right"></i>
                        <span>Next Challenge</span>
                    </a>
                    <a (click)="addNewChallenge()"> 
                        <i class="fas fa-plus"></i>
                        <span>Take the Challenge</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>