<header>
    <div class="header-wrap container">
        <div id="logo">
            <a href="#">
                DumpBore
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#">
                        New Challenge
                    </a>
                </li>
                <li>
                    <a href="#">
                        My Challenges
                    </a>
                </li>
                <li>
                    <a href="#">
                        Login
                    </a>
                </li>
                <li>
                    <a href="#">
                        Register
                    </a>
                </li>
                <li>
                    <a href="#">
                        My Profile
                    </a>
                </li>
                <li>
                    <a href="#">
                        LogOut
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>