<header>
    <div class="header-wrap container">
        <div id="logo">
            <a routerLink="/">
                DumpBore
            </a>
        </div>
        <nav>
            <ul *ngIf="isLogged">
                <li>
                    <a routerLink="/challenges/get" routerLinkActive="active-link">
                        New Challenge
                    </a>
                </li>
                <li>
                    <a routerLink="/challenges/list" routerLinkActive="active-link">
                        All Challenges
                    </a>
                </li>
                <li>
                    <a routerLink="/challenges/my" routerLinkActive="active-link">
                        My Challenges
                    </a>
                </li>
                <li>
                    <a routerLink="/user/profile" routerLinkActive="active-link">
                        My Profile
                    </a>
                </li>
                <li>
                    <a routerLink="/" (click)="logOutHandler()">
                        LogOut
                    </a>
                </li>
            </ul>
            <ul *ngIf="!isLogged">
                <li>
                    <a routerLink="/user/login" routerLinkActive="active-link">
                        Login
                    </a>
                </li>
                <li>
                    <a routerLink="/user/register" routerLinkActive="active-link">
                        Register
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>