<section class="container"> 
    <img [src]="registerImg" alt="register">
    <div class="reg-form">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password">
        <label for="rePassword">Repeat password: </label>
        <input type="password" name="rePassword" id="rePassword">
        <a href="#" id="regBtn">Register</a>
        <p>If you already have account <a routerLink="/user/login">Log In</a></p>
    </div>
</section>