h2 {
    margin: 20px 0 20px;
    text-align:  center;
    font-family: "Fredoka One", cursive;
    font-weight: normal;
}

section {
    margin-top: 15px !important;
    columns: 3;
    text-align: center;
}

@media all and (max-width: 768px) {
    section {
        columns: 2;
    }
}

@media all and (max-width: 425px) {
    section {
        columns: 1;
    }
}
